.about {
  margin: 20px;
  padding: 20px;

  .top_part {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 75px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.09);
    gap: 40px;

    img {
      width: 250px;
      height: 345px;
    }

    .right_part {
      margin-right: 20px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .label {
        padding-bottom: 20px;
      }
    }
  }

  .mid_section {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    .mission,
    .vision {
      width: 100%;
      max-width: 400px;
      height: auto;
    }

    .mission,
    .vision {
      background-color: #01000043;
      padding: 20px;
      border-radius: 8px;
      text-align: center;

      p {
        letter-spacing: 2.5px;
      }
    }
  }

  .team_section {
    background-color: #01000043;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 75px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    .inner_team {
      display: flex;
      flex-direction: row;
      gap: 30px;

      .title {
        padding-bottom: 10px;

        h2 {
          margin-bottom: 25px;
        }
      }
      .description {
        p {
          width: 100%;
          letter-spacing: 2.5px;
        }
      }

      img {
        width: 248px;
        height: 400px;
      }
    }
  }
}

/* Media Queries for Tablet */
// @media only screen and (max-width: 768px) {
//   .about
//   .top_part .right_part {
//     margin-right: 0;
//     margin-left: 0;
//   }

//   .about .mid_section .mission,
//   .about .mid_section .vision {
//     max-width: none;
//   }

//   .about .team_section .inner_team {
//     flex-direction: row;
//   }
// }

/* Media Queries for Mobile */

@media only screen and (max-width: 769px) {
  .about {
    margin: 75px 0 0 0;
    padding: 0;
    .top_part {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 20px;

      .top_part img {
        margin-bottom: 20px;
      }
      .label {
        width: 100%;
        h3 {
          width: 100%;
        }
      }
    }
    .mid_section {
      flex-direction: column;
      padding: 20px;

      .mission,
      .vision {
        margin: 10px;
      }
    }
    .team_section {
      .inner_team {
        .title {
          text-align: center;
        }

        flex-direction: column;
        gap: 20px;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .about {
    .top_part {
      padding: 0;

      .right_part {
        margin: 2px;
      }
    }
    .team_section {
      padding: 0;
      .inner_team {
        margin: 8px;
      }
    }
  }
}
