.topBanner {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 75px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 20px;

  .layer-1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    .main {
      margin-right: 100px;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        padding-bottom: 10px;
      }

      .description {
        padding-top: 10px;

        p {
          margin: 0;
          letter-spacing: 2.5px;
        }
      }
    }
    .image {
      margin-left: 30px;
      img {
        height: 362px;
        width: 320px;
      }
    }
  }

  .layer-2 {
    display: flex;
    flex-direction: row;
    align-items: center;

    .search-bar {
      margin-left: 20px;
      margin-right: 20px;
      width:40%;
      .form {
        display: flex;
        flex-direction: row;
  
        .search-field {
          width: 100%;
          padding: 10px 35px 10px 15px;
          border: none;
          border-radius: 100px;
          outline: none;
        }
  
        .search-button {
          background: transparent;
          border: none;
          outline: none;
          margin-left: -33px;
        }
  
        .search-button {
          .icon {
            width: 20px;
            height: 20px;
          }
          // object-fit: cover;
        }
      }
    }
  }

  /* Media query for smaller screen sizes */
  @media screen and (max-width: 768px) {
    .layer-2 {
      .search-box {
        input[type="search"] {
          width: 100%; /* Set width to 100% for smaller screens */
          max-width: 300px; /* Adjust max-width for smaller screens */
        }
      }
    }
  }
}
