.swiperAutoplay {
  padding: 0;
  position: relative;
  z-index: 0;

  .mySwiper {
    padding: 0;

    .swiper-button-prev {
      display: none;
    }
    .swiper-button-next {
      display: none;
    }

    .swiperSlide {
      height: 55vh;

      img {
        // display: block;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
      .opacity-layer {
        width: 100%;
        height: 300px;
        position: absolute;
        background: linear-gradient(
          180deg,
          rgba(25, 22, 23, 0) 0%,
          rgba(113, 25, 44, 0.5) 64%
        );
        bottom: 0;
        left: 0;
        box-shadow: 0 15px 20px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
}


.swiperSlide {
  height: 300px; /* Set the height for all swiper slides */
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
}
