.banner {
  margin-top: 100px;
  // margin-bottom: 30px;
  width: 75%;
  height: 160px;
  display: flex;
  flex-direction: row;
  // flex-direction: column;
  justify-content:space-around;
  align-items: center;
  gap: 10px;
  background-color: var(--main-black);
  opacity: 80%;
  border-radius: 20px;
  box-shadow: -5px 0px 20px var(--main-black), 
                5px 0px 20px var(--main-black),  
                0px 5px 20px var(--main-black),  
                0px -5px 20px var(--main-black);
  // backdrop-filter: blur(3.5px);

  // overflow-y: auto;
  overflow-x: auto;
  // transform: rotate(-90deg);
  // transform-origin: right top;
  // transform:rotate(-90deg) translateY(-100px);
  scrollbar-color: transparent transparent;
  user-select: none;

  &::-webkit-scrollbar{
    height: 1px;
    background-color: transparent;
  }

  .dataitem {
    margin: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // transform: rotate(90deg);
    // transform-origin: right top;

    .link {
      text-decoration: none;
      color: var(--main-offwhite);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-position: center;
        object-fit: cover;

        &:hover {
          box-shadow:
            -1px 0px 6px var(--main-offwhite),
            1px 0px 6px var(--main-offwhite),
            0px 1px 6px var(--main-offwhite),
            0px -1px 6px var(--main-offwhite);
        }
      }

      p {
        margin-bottom: 0;
        padding: 5px 0px;
      }

    }
  }
}
