.footer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-offwhite);

    .heading{
        // margin: 10px;
        // padding: 2 ;
    }

    .footerItems{
        margin-top: 10px;
        display: flex;
        padding: 0 20px;
        padding-bottom: 10px;
        flex-direction: row;
        border-bottom: 0.5px solid var(--main-offwhite);
        gap: 20px;
        .footerItem{
            letter-spacing: 1px;
            font-size:medium;
            padding: 0 5px;
            &:hover{
                color: var(--main-red);
                cursor: pointer;
            }
        }
    }
    .logos{
        margin-top: 10px;
        padding: 10px 10px;
        border: 0.5px solid var(--main-offwhite);
        border-radius: 20px;
        gap: 30px;
        display: flex;
        flex-direction: row;

    
        .logo{
            
            svg{
                width: 25px;
                height: 25px;

                
            }
            &:hover{
                color: var(--main-red);
                cursor: pointer;
            }
        }
    }
    .searchFeed{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


        // width: 0%;
        input{
            // width:800px ;
            background-color: var(--main-offwhite);
            outline: 0;
            border: 0;
            color: var(--main-offwhite);
            width: 300px;
            height: 40px;
            border-radius: 20px 0 0 20px;
            padding: 0 10px;
        }
        button{
            color: var(--main-black);
            background-color: var(--main-offwhite);
            border-radius:0 20px 20px 0px ;
            height: 40px;
            width: 100px;
            outline: 0;
            border: 0;
            cursor: pointer;
        }

    }
    .bottomTagLine{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 4px;
        justify-content: center;
        align-self: center;
    }
}

@media screen and (max-width: 787px){
    .footer{

        .footerItems{

            .footerItem{

                font-size: small;
            }
        }
    }    
}

@media screen and (max-width: 425px){
    .footer{

        .footerItems{
            flex-direction: column;
            align-items: center;
            border-bottom: 0;

            .footerItem{

                font-size: medium;
            }
        }
    }    
}