.simpleRatingCard {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    width: 300px;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid var(--main-black);
    background-color: rgba(255, 255, 255, 0.09);
    animation: popOutBorder 2s ease-in-out infinite alternate; 

    .profileImage {
        height: 80px;
        width: 80px;
        background-color: var(--main-offwhite);
        border-radius: 50px;
    }

    .userName {
        margin: 0;

        h6 {
            margin: 0;
            color: var(--main-black);
        }
    }

    .stars {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .star {
            svg {
                height: 25px;
                width: 25px;
            }
        }
    }
    .description {
        font-size: medium;
        text-align: center;

        p {
            margin: 0;
            word-break: break-all;
        }
    }
}

@keyframes popOutBorder {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
@media only screen and (max-width: 770px) {
    .simpleRatingCard{
        width: 250px;
    }
}

// @media only screen and (max-width: 640px) {
//     .simpleRatingCard{
//         width: 250px;
//     }
// }
