.exploreCuisine {
  margin-top: 40px;
  margin-left: 260px;
  margin-right: 0px;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: rgba(255, 255, 255, 0.09);

  .inner {
    padding: 0;
    display: flex;
    flex-direction: row;
    color: var(--main-back);

    .image {
      padding-right: 200px;
      padding-top: 50px;
      padding-bottom: 50px;

      img {
        height: 300px;
        width: 350px;
      }
    }

    .main {
      padding-left: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      .title {
        padding: 10px 0;
      }

      .description {
        margin-right: 100px;

        p {
          // Add any specific styling for the description text if needed
        }
      }

      .btn {
        margin-top: 20px;

        button {
          padding: 10px 20px;
          border: none;
          border-radius: 25px; /* Updated to match the border radius */
          background: linear-gradient(45deg, #FFC107, #FF9800); /* Gradient background */
          color: white;
          font-size: 16px;
          cursor: pointer;
          transition: background 0.3s ease;

          &:hover {
            background: linear-gradient(45deg, #FF9800, #FFC107); /* Adjust gradient for hover effect */
          }
        }
      }
    }
  }
}
