.app{
    background-image: radial-gradient(circle, #931329, #74182c, #551b29, #361a22, #191617);
     /* background-image: linear-gradient(to bottom, #191617, #361a22, #551b29, #74182c, #931329);  */

    /* background-color: #931329; */
    height: 100%;
    width: 100vw;
    color: #F0ECE3;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
    .page{
        height: 100%;
        width: 100%;
    }
}





