.modal {
  margin: 0;
  padding-top: 65px;
  z-index: 1;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(3.5px);
}

.modal-container {
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  // max-width: 50rem;
  height: 80vh;
  padding: 40px;
  border-radius: 0.5rem;
  background-color: rgba(189, 189, 189, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: auto;

  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #333;
    font-size: 24px;
  }

  .main {
    width: 75%;

    .main_label {
      h2 {
        color: var(--main-black);
        font-size: 2.4rem;
        font-family: "Lucida Sans", sans-serif;
      }
    }
    .modal_box {
      background-color: rgba(255, 255, 255, 0.5);
      width: 60%;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      // gap: 5px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.552);

      .container-box {
        margin: 5px;
        border-radius: 10px;
        width: 150px;
        height: 20px;
        background-color: #ccc;
      }
    }

    .modal_banner {
      margin-top: 10px;
      width: 60%;
      height: 85px;
      background-color: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.552);
      overflow-x: auto;

      
    }

    p {
      // width: 70%;
      overflow-y: auto;
      margin: 1rem 0 2.4rem 0;
      line-height: 1.8rem;
      color: var(--main-black);
      font-weight: 400;
    }
  }

  .ingredients {
    padding: 10px;
    overflow-y: auto;
    width: 25%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    border-radius: 5px;

    .inner_ingredients {
      background-color: #ccc;
      border-radius: 5px;

      h5 {
        color: black;
      }
    }
  }
  ::-webkit-scrollbar {
    display: block;
  }
}

.modal-btn {
  position: absolute;
  bottom: 20px;
  left: 92%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(45deg, #ffc107, #ff9800);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modal-btn:hover {
  background: linear-gradient(45deg, #ff9800, #ffc107);
}

@media screen and (max-width: 768px) {
  .modal-container {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .modal-container {
    width: 95%;
    padding: 1rem;
  }

 
}
