.modal {
  margin: 0;
  padding-top: 65px;
  z-index: 1;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(3.5px);
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  // max-width: 50rem;
  height: 85vh;
  padding: 40px;
  border-radius: 0.5rem;
  background-color: rgba(189, 189, 189, 0.8);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #333;
    font-size: 24px;
  }

  .main {
    width: 100%;

    .main_label {
      h2 {
        color: var(--main-black);
        font-size: x-large;
        font-family: "Lucida Sans", sans-serif;
      }
    }
    
    .center{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 10px 0; 
      gap: 20px;
      // align-items: center;
      // overflow-y: scroll;

      .left{
        width: 70%;
        display: flex;
        flex-direction: column;
        // justify-content:flex-end;
        // align-items: center;

        .content {
          display: flex;
          flex-direction: row;
          gap: 30px;
          align-items: center;
          justify-content: space-evenly;
    
          .image {
            img {
              // height: 270px;
              // width: 220px;
              // border-radius: 50%;
              height: 320px;
              width: 400px;
              border-radius: 20px;
            }
          }
    
          .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 200px;
            gap: 10px;
    
            .item {
              display: flex;
              flex-direction: row;
              padding: 10px;
              gap: 10px;
              padding-bottom: 2px;
              // border-bottom: var(--main-black) solid 3px;
              p {
                margin: 0;
              }
    
              .icon {
                width: 20%;
                svg {
                  height: 25px;
                  width: 25px;
                  // color: var(--main-black);
                }
              }
              .des {
                margin-left: 20px;
                width: 80%;
                p {
                  margin: 0;
                  text-align: center;
                  font-weight: bold;
                  color: var(--main-black);
                }
              }
            }
    
            .veg {
              svg {
                padding: 1px;
                border: var(--main-black) 1px solid;
                color: var(--main-black);
              }
              .green {
                border: green 1px solid;
                color: green;
              }
              .red {
                border: red 1px solid;
                color: red;
              }
            }
            .like {
              svg{
                color: var(--main-black);
              }
            }
            .health {
              svg{
                color: var(--main-black);
              }
            }
            .time {
              svg{
                color: var(--main-black);
              }
            }
            .serving {
              svg{
                color: var(--main-black);
              }
            }
          }
        }
        .summary {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
    
          margin-top: 20px;
          color: var(--main-black);
    
          h5 {
          }
          p {
            margin: 0px 5px 50px 0;
            padding: 0;
            word-spacing: 1px;
            color: var(--main-black);
            font-weight: 400;
    
            a {
              text-decoration: none;
            }
          }
        }

      }

      .right{
        width: 30%;
        height: 600px;
        overflow-y: auto;
        // overflow-y: scroll;
        .ingredients {
          // padding: 10px;
          // width: 30%;
          display: flex;
          flex-direction: column;
          // justify-content: center;
          // align-items: center;
          // padding: 10px;
          color: var(--main-black);
      
          .inner_ingredients {
            
            .ingredient{
              margin: 20px 0;
              .name{
                margin: 0;
              }
              .quantity{
                margin: 0;
                padding: 0;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }

  }
  .cooking{
    margin-bottom: 50px;
    color: var(--main-black);

    .instruction{
      ol{

        li{
          letter-spacing: 1px;
        }
      }
    }
  }

  

  // &::-webkit-scrollbar {
  //   display: block;
  // }

}

.modal-btn {
  position: absolute;
  bottom: 20px;
  left: 92%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(45deg, #ffc107, #ff9800);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modal-btn:hover {
  background: linear-gradient(45deg, #ff9800, #ffc107);
}

@media screen and (max-width: 1151px) {
  .modal-container {

    .main{

      .center{
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .modal-container {

    .main{

      .center{
        
        .left{
          
          .content{
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .modal-container {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .modal-container {
    width: 95%;
    padding: 1rem;
  }
}

