.cuisine {
  margin: 0;
  padding: 0;

  .main {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    padding: 10px;

    .item1,
    .item2,
    .item3,
    .item4,
    .item5,
    .item6,
    .item7,
    .item8 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;

      svg {
        height: 80px;
        width: 45px;
        margin-bottom: 12px;
      }
    }

    .main.heading {
      font-family: fantasy;
      font-size: 36px;
      font-weight: bold;
      color: var(--main-offwhite);
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 20px 0;
      position: relative;
    }

    .main.heading::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 6px;
      background: linear-gradient(to right, #ff5733, #ffd633);
    }

    hr {
      width: 100%;
      border: none;
      height: 2.5px;
      background-color: #e0e0e0;
      margin: 20px 0;
      animation: pulse 1.5s infinite alternate;
    }

    @keyframes pulse {
      from {
        opacity: 1;
      }
      to {
        opacity: 0.5;
      }
    }

    /* Media Queries */
    @media only screen and (max-width: 768px) {
      .item1,
      .item2,
      .item3,
      .item4,
      .item5,
      .item6,
      .item7,
      .item8 {
        // flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 20px;
      }

      svg {
        height: 60px;
        width: 35px;
        margin-bottom: 8px;
      }

      .main.heading {
        font-size: 24px;
      }
    }

    @media only screen and (max-width: 480px) {
      svg {
        height: 50px;
        width: 30px;
        margin-bottom: 6px;
      }

      .main.heading {
        font-size: 20px;
      }
    }
  }
}
